<?xml version="1.0" encoding="utf-8"?>
<!--
Notice : Code written by Dimitris Papadimitriou - http://www.papadi.gr
Code is provided to be used freely but without any warranty of any kind
!-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ws" maxReceivedMessageSize="10067108864" messageEncoding="Mtom" transferMode="Streamed">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="IFileService" address="http://localhost:8080/FileTranfer" binding="basicHttpBinding" bindingConfiguration="ws" contract="Client.WcfClient.IFileTransferService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>