<?xml version="1.0" encoding="utf-8"?>

<ArrayOfDataSource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                   comment="数据源配置信息，可以配置多个数据源，至少需要配置一个默认的数据源。">
  <!--
  Name：数据源名称，需唯一。
  SourceType：数据库类别，可选参数包括：
      ORCALE,
		  SQLSERVER

  DbHelpType：数据库操作服务类名，包括：
      OleDbHelp,
		  OracleDbHelp,
		  SqlDbHelp

   ConnectionString：数据库连接参数串，注意事项：        1、Password参数放在最尾巴，如果采用加密方式保存的话        2、如果SourceType是ORCALE且DbHelpType是OleDbHelp则Provider参数可为OraOLEDB.Oracle或MSDAORA.1，           如果DbHelpType是OracleDbHelp则无需提供Provider参数

   Attribures：扩展属性。-->

  <DataSource>
    <Name>Default</Name>
    <SourceType>ORACLE</SourceType>
    <ConnectionString>User ID=YFZX_V75;Data Source=10.0.2.154/orcl;Password=YFZX_V75</ConnectionString>
    <!--<ConnectionString>User ID=YFZX_V75;Data Source=10.0.2.154/orcl;Password=YFZX_V75</ConnectionString>-->
    <DbHelpType>OracleDbHelp</DbHelpType>
    <Attribures>
      <string>DataSourceDirection=Source</string>
    </Attribures>
  </DataSource>
</ArrayOfDataSource>